# FUNCTIONS

In [1]:
# A FUNCTION IS A BLOCK OF CODE THAT IS EXECUTED/RUN WHENEVER IT IS CALLED

In [2]:
def hello():
    print("Welcome to our Python Class")
    print("Python is a very interesting programming language")
    print("You will enjoy learning it")

In [3]:
hello()  #FUNCTION CALL

Welcome to our Python Class
Python is a very interesting programming language
You will enjoy learning it

In [4]:
hello()

Welcome to our Python Class
Python is a very interesting programming language
You will enjoy learning it

In [5]:
def add():
    x = 5
    y = 3
    z = 2
    sum = (x+y+z)
    result = "The sum of {}, {} and {} is {}"
    print(result.format(x,y,z,sum))

In [6]:
add()

The sum of 5, 3 and 2 is 10

In [7]:
hello()

Welcome to our Python Class
Python is a very interesting programming language
You will enjoy learning it

In [8]:
add()

The sum of 5, 3 and 2 is 10

In [9]:
def multiply():
    x = 3
    y = 15
    z = 24
    product = (x*y*z)
    result = "The product of {}, {} and {} is {}"
    print(result.format(x,y,z,product))

In [10]:
multiply()

The product of 3, 15 and 24 is 1080

In [11]:
def greeting(name):
    print("Hello, " + name)
    print("Nice to have you here")

In [14]:
greeting("John")

Hello, John
Nice to have you here

In [15]:
greeting("Chikezie")

Hello, Chikezie
Nice to have you here

In [17]:
name = "Tony Robbins"

In [18]:
greeting(name)

Hello, Tony Robbins
Nice to have you here

In [19]:
myName = "James Babalola"

In [20]:
greeting(myName)

Hello, James Babalola
Nice to have you here

In [21]:
def addition(num1, num2, num3):
    sum = (num1+num2+num3)
    result = "The sum of {}, {} and {} is {}"
    print(result.format(num1, num2,num3,sum))

In [22]:
addition(24,32,16)

The sum of 24, 32 and 16 is 72

In [23]:
addition(100,100,100)

The sum of 100, 100 and 100 is 300

In [24]:
a = 96
b = 53
c = 81

In [25]:
addition(a,b,c)

The sum of 96, 53 and 81 is 230

In [26]:
 # FUNCTION TO CALCULATE THE SUM AND PRODUCT OF 3 NUMBERS

In [29]:
def addpro(m,n,o):
    sum = (m+n+o)
    product = (m*n*o)
    r1 = "The sum of {}, {} and {} is {}"
    print(r1.format(m,n,o,sum))
    r2 = "The product of {}, {} and {} is {}"
    print(r2.format(m,n,o,product))

In [30]:
addpro(15,15,10)

The sum of 15, 15 and 10 is 40
The product of 15, 15 and 10 is 2250

In [39]:
def welcome(name,gender):
    if(gender == "Male"  gender == "male"):
        print("Hello Sir, @" + name)
        #print("Thanks for being here")
    elif(gender == "Female" or gender == "female"):
        print("Hello Ma, @" + name)
       # print("Thanks for being here")
    else:
        print("Oops!!! There's an issue with Gender")
        
    print("Thanks for being here")

In [35]:
welcome("Tope", "female")

Hello Ma, @Tope
Thanks for being here

In [36]:
welcome("Samson", "Male")

Hello Sir, @Samson
Thanks for being here

In [38]:
welcome("Janes", "x")

Oops!!! There's an issue with Gender

In [40]:
welcome("Funsho", "oa")

Oops!!! There's an issue with Gender
Thanks for being here

In [44]:
def calculate(qty, price, tax = 7.5):
    amount = (qty * price)
    total = (((tax/100)*amount)+amount)
    
    result = "The price of {} pairs of shoes at ${} each is ${}. With {}% tax, total price becomes ${}"
    print(result.format(qty, price, amount, tax, total))

In [45]:
calculate(5,175.75)

The price of 5 pairs of shoes at $175.75 each is $878.75. With 7.5% tax, total price becomes $944.65625

In [46]:
calculate(7,200,5)

The price of 7 pairs of shoes at $200 each is $1400. With 5% tax, total price becomes $1470.0

In [1]:
from module3 import rangeOfNumbers as rn

In [2]:
rn(5, 20)

Range of Numbers between 5 and 20
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [3]:
rn(10,3)

Range of Numbers between 3 and 10
3
4
5
6
7
8
9
10

In [4]:
from module3 import multiplication

In [5]:
multiplication(10)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120