# PYTHON COLLECTIONS

# LIST COLLECTION

In [1]:
carList = ["Honda", "Mercedes", "Nissan", "Toyota", "Honda", "Volvo", "Toyota", "Honda"]

In [2]:
print(carList)

['Honda', 'Mercedes', 'Nissan', 'Toyota', 'Honda', 'Volvo', 'Toyota', 'Honda']

In [3]:
print(len(carList))  #RETURNS THE LENGTH OF THE LIST i.e NO OF ELEMENTS IN THE LIST

8

In [4]:
print(carList.count("Mercedes"))  #HOW MANY TIMES DOES MERCEDES OCCUR IN LIST?

1

In [5]:
print(carList.count("Honda"))

3

In [6]:
print(carList.count("Toyota"))

2

In [7]:
print("Rio" in carList)  #IS RIO PRESENT IN CARLIST?

False

In [8]:
print("Nissan" in carList)  #IS NISSAN PRESENT IN carList?

True

In [9]:
if("Peugeout" in carList):
    print("Yohhhh....There's Peugeout")
else:
    print("Oops!!! There's no Peugeout")

Oops!!! There's no Peugeout

In [10]:
if("Mercedes" in carList):
    print("Hurray!!! There's Mercedes")
else:
    print("Ouch!!! There's no Mercedes")

Hurray!!! There's Mercedes

# ACCESSING THE ITEMS IN A LIST

In [12]:
print(carList)

['Honda', 'Mercedes', 'Nissan', 'Toyota', 'Honda', 'Volvo', 'Toyota', 'Honda']

In [13]:
print(carList[2])

Nissan

In [14]:
print(carList[4])

Honda

In [15]:
print(carList[2:5])

['Nissan', 'Toyota', 'Honda']

In [16]:
print(carList[3:7])

['Toyota', 'Honda', 'Volvo', 'Toyota']

In [17]:
print(carList[3:])

['Toyota', 'Honda', 'Volvo', 'Toyota', 'Honda']

In [18]:
print(carList[:5])

['Honda', 'Mercedes', 'Nissan', 'Toyota', 'Honda']

In [19]:
print(carList[4])

Honda

In [20]:
carList[4] = "Cheverolet"  #TO CHANGE THE VALUE OF AN ITEM

In [21]:
print(carList)

['Honda', 'Mercedes', 'Nissan', 'Toyota', 'Cheverolet', 'Volvo', 'Toyota', 'Honda']

In [22]:
carList.insert(2, "Bentley")  #INSERT AN ITEM INTO A PARTICULAR POSITION

In [23]:
print( carList)

['Honda', 'Mercedes', 'Bentley', 'Nissan', 'Toyota', 'Cheverolet', 'Volvo', 'Toyota', 'Honda']

In [24]:
carList.append("Ferrari")  #ADDS NEW ITEM TO THE END OF THE LIST

In [25]:
print(carList)

['Honda', 'Mercedes', 'Bentley', 'Nissan', 'Toyota', 'Cheverolet', 'Volvo', 'Toyota', 'Honda', 'Ferrari']

# REMOVING ITEMS FROM A LIST

In [26]:
carList.remove("Volvo")   #REMOVE BY VALUE

In [27]:
print(carList)

['Honda', 'Mercedes', 'Bentley', 'Nissan', 'Toyota', 'Cheverolet', 'Toyota', 'Honda', 'Ferrari']

In [28]:
carList.pop(7) #REMOVE BY INDEX

'Honda'

In [29]:
print(carList)

['Honda', 'Mercedes', 'Bentley', 'Nissan', 'Toyota', 'Cheverolet', 'Toyota', 'Ferrari']

In [30]:
carList.pop()  #REMOVES THE LAST ITEM

'Ferrari'

In [31]:
print(carList)

['Honda', 'Mercedes', 'Bentley', 'Nissan', 'Toyota', 'Cheverolet', 'Toyota']

# LOOPING THROUGH A LIST

In [32]:
for x in carList:
    print(x)

Honda
Mercedes
Bentley
Nissan
Toyota
Cheverolet
Toyota

# MERGING LISTS

In [33]:
suvList = ["Land Cruiser", "Jeep", "Highlander", "Lexus"]
salonList = ["Rio", "Accent", "Avalon","Yaris", "Corolla"]

car = suvList + salonList
print(car)

['Land Cruiser', 'Jeep', 'Highlander', 'Lexus', 'Rio', 'Accent', 'Avalon', 'Yaris', 'Corolla']

# TUPLE COLLECTION

In [34]:
pcList = ("Toshiba", "HP", "Dell", "Zinox", "Macintosh")

In [35]:
print(pcList)

('Toshiba', 'HP', 'Dell', 'Zinox', 'Macintosh')

In [38]:
# TO MAKE CHANGES TO A TUPLE, CONVERT IT TO A LIST, MAKE THE CHANGES TO IT WHILE A LIST AND THEN CONVERT BACK TO TUPLE

In [39]:
print(type(pcList))

<class 'tuple'>

In [40]:
pc = list(pcList)  #CONVERTING A TUPLE TO A LIST

In [41]:
print(type(pc))

<class 'list'>

In [42]:
print(pc)

['Toshiba', 'HP', 'Dell', 'Zinox', 'Macintosh']

In [43]:
pc.append("Compaq")

In [44]:
print(pc)

['Toshiba', 'HP', 'Dell', 'Zinox', 'Macintosh', 'Compaq']

In [45]:
pc.insert(2, "Samsung")

In [46]:
print(pc)

['Toshiba', 'HP', 'Samsung', 'Dell', 'Zinox', 'Macintosh', 'Compaq']

In [47]:
pcList = tuple(pc)  #CONVERTING LIST BACK TO TUPLE AFTER MAKING CHANGES

In [48]:
print(type(pcList))

<class 'tuple'>

In [49]:
print(pcList)

('Toshiba', 'HP', 'Samsung', 'Dell', 'Zinox', 'Macintosh', 'Compaq')

# ACCESSING ITEMS IN A TUPLE

In [50]:
print(pcList[3])

Dell

In [51]:
print(pcList[1:4])

('HP', 'Samsung', 'Dell')

In [52]:
print("Samsung" in pcList)

True

In [53]:
print("Acer" in pcList)

False

# MERGING TUPLE

In [54]:
cmyk = ("Cyan", "Magenta", "Yellow", "Black")
rgb = ("Red", "Green", "Blue")

In [55]:
color = rgb + cmyk

In [56]:
print(color)

('Red', 'Green', 'Blue', 'Cyan', 'Magenta', 'Yellow', 'Black')

In [58]:
for colors in color:
    print(colors)

Red
Green
Blue
Cyan
Magenta
Yellow
Black

# SET COLLECTION

In [1]:
designTools = {"Photoshop", "Premiere Pro", "Illustrator", "Photoshop"}

In [2]:
print(designTools)

{'Photoshop', 'Illustrator', 'Premiere Pro'}

In [3]:
designTools.add("Blender")  #ADDING NEW ITEMS TO A SET

In [4]:
designTools.add("Corel Draw")

In [5]:
print(designTools)

{'Blender', 'Photoshop', 'Illustrator', 'Premiere Pro', 'Corel Draw'}

In [6]:
print(designTools)

{'Blender', 'Photoshop', 'Illustrator', 'Premiere Pro', 'Corel Draw'}

In [7]:
designTools.update(["After Effect", "Figma", "XD"])  #ADDING MULTIPLES ITEMS AT A TIME

In [8]:
print(designTools)

{'Blender', 'Photoshop', 'Illustrator', 'Premiere Pro', 'Figma', 'Corel Draw', 'XD', 'After Effect'}

In [10]:
print("Photoshop" in designTools)

True

In [11]:
print("Sketch" in designTools)

False

# UNION OF SET

In [12]:
webDev = {"HTML", "CSS", "PHP", "MySQL", "JS", "Mongo DB"}
frontEnd = {"HTML", "CSS", "JS", "React", "Angular"}

In [13]:
course = webDev.union(frontEnd)

In [14]:
print(course)

{'CSS', 'PHP', 'React', 'Mongo DB', 'JS', 'HTML', 'MySQL', 'Angular'}

In [15]:
course.remove("PHP")  #REMOVING ITEMS FROM A SET

In [16]:
print(course)

{'CSS', 'React', 'Mongo DB', 'JS', 'HTML', 'MySQL', 'Angular'}

# DICTIONARY COLLECTION

In [17]:
# DICTIONARIES ARE USED TO STORE DATA IN KEY-VALUE PAIR

In [18]:
employee = {"firstname": "James", "lastname":"Babalola", "gender": "Male", "salary":50000}

In [19]:
print(employee['lastname'])

Babalola

In [20]:
print(employee['salary'])

50000

In [21]:
# TO CHANGE THE VALUE OF AN ITEM IN A DICTIONARY

employee['salary'] = 75000

In [22]:
print(employee)

{'firstname': 'James', 'lastname': 'Babalola', 'gender': 'Male', 'salary': 75000}

In [23]:
# TO ADD NEW ITEMS TO A DICTIONARY
employee['email'] = "jaystar1311@gmail.com"

In [24]:
employee["Phone"] = "07039069923"

In [25]:
print(employee)

{'firstname': 'James', 'lastname': 'Babalola', 'gender': 'Male', 'salary': 75000, 'email': 'jaystar1311@gmail.com', 'Phone': '07039069923'}

In [26]:
# TO REMOVE AN ITEM FROM A DICTIONARY
employee.pop("Phone")

'07039069923'

In [27]:
print(employee)

{'firstname': 'James', 'lastname': 'Babalola', 'gender': 'Male', 'salary': 75000, 'email': 'jaystar1311@gmail.com'}