# STRING FUNCTIONS

In [1]:
fname = "James"
lname = "Babalola"
name = fname + " " + lname

In [2]:
print(fname)

James

In [3]:
print(lname)

Babalola

In [4]:
print(name)

James Babalola

In [5]:
print(len(fname))   #PRINTS THE NUMBER OF CHARACTERS IN FNAME

5

In [6]:
print(len(lname))

8

In [7]:
print(len(name))

14

In [9]:
print(name[0])  #RETURNS THE CHARACTER IN POSITION 0

J

In [10]:
print(name[5])  #RETURNS THE CHARACTER IN POSITION 5

In [11]:
print(name[8])  #RETURNS THE CHARACTER IN POSITION 8

b

In [12]:
print(len("My name is James Babalola"))

25

In [13]:
print(name.upper())  #RETURNS THE name VARIABLE IN UPPER CASE

JAMES BABALOLA

In [14]:
print(lname)

Babalola

In [15]:
print(lname.lower())

babalola

In [16]:
print(name)

James Babalola

In [17]:
print(name.lower())

james babalola

In [18]:
print(fname)

James

In [19]:
print(lname)

Babalola

In [20]:
firstname = fname.upper()

In [21]:
print(firstname)

JAMES

In [23]:
lastname = lname.lower()

In [24]:
print(lastname)

babalola

In [25]:
myName = firstname + " " + lastname
print(myName)

JAMES babalola

In [26]:
newName = fname.upper() + " " + lname.lower()

In [27]:
print(newName)

JAMES babalola

In [29]:
tweet = "These guys at The Code Center are very fantastic people. When I visited the Center, the treat I got was so lovely. Thank you oh, The Code Center"

In [30]:
print(tweet.count("Center"))   #RETURNS THE NUMBER OF TIMES "CENTER" OCCURS IN THE STRING

3

In [31]:
print(tweet.count("I"))

2

In [32]:
print(tweet.replace("Center", "Galleria")) #REPLACE CENTER WITH GALLERIA IN TWEET

These guys at The Code Galleria are very fantastic people. When I visited the Galleria, the treat I got was so lovely. Thank you oh, The Code Galleria

# STRING SLICING

In [33]:
print(name)

James Babalola

In [34]:
college = "Babcock University, Ogun State"
print(college)

Babcock University, Ogun State

In [36]:
print(name[2:7])  #PRINTS THE CHARACTERS FROM POSITION 2 TO POSITION 7, EXCLUDING POSITION 7

mes B

In [37]:
print(name[1:9])  #PRINTS CHARACTERS FROM POSITION 1 TO POSITION 9, EXCLUDING POSITION 9

ames Bab

In [38]:
print(college[3:18])

cock University

In [39]:
print(college[3:]) #PRINTS CHARACTERS FROM POSITION 3 TILL THE END

cock University, Ogun State

In [41]:
print(college[:18])  #PRINTS ALL THE CHARACTERS BEFORE POSITION 18

Babcock University

# DECISION MAKING - IF STATEMENTS

In [42]:
a = 5
b = 15
c = 12
d = 3

In [43]:
if a > b:
    print("A is greater than B")

In [44]:
if a > b:
    print("A is greater than B")
else:
    print("A is not greater than B")

A is not greater than B

In [45]:
if c > d:
    print("C is greater than D")
else:
    print("C is not greater than D")

C is greater than D

In [46]:
print(a)

5

In [47]:
print(b)

15

In [48]:
print(c)

12

In [49]:
print(d)

3

In [50]:
print(a + b)

20

In [51]:
print(a * b)

75

In [52]:
print(b - a)

10

In [53]:
print(d - c)

-9

In [54]:
print(c % a)

2

# ASSIGNMENT OPERATORS

In [55]:
print(a)

5

In [56]:
a += 3  # a = a + 3
print(a)

8

In [57]:
a -= 2 # a = a - 2
print(a)

6

In [58]:
a *= 12  # a = a * 12
print(a)

72

In [59]:
a /= 3 # a = a / 3
print(a)

24.0

In [60]:
a %= 10 # a = a % 10
print(a)

4.0

# COMPARISON OPERATORS

In [61]:
x = 5
y = 3

In [62]:
print(x)

5

In [63]:
print(y)

3

In [64]:
print(x == y)  #RETURN FALSE

False

In [66]:
print(x != y)  #RETURNS TRUE

True

In [67]:
print(x > y)

True

In [68]:
print(x < y)

False

# LOGICAL OPERATORS

In [69]:
print(a)

4.0

In [70]:
print(b)

15

In [71]:
print(c)

12

In [72]:
print(d)

3

In [73]:
if a > b & c > d:
    print("A is greater than B and C is greater than D")
elif a > b & c < d:
    print("A is greater than B but C is less than D")
elif a < b & c > d:
    print("A is less than B but C is greater than D")
else:
    print("A is not greater than B and C is not greater than D")

A is less than B but C is greater than D

# LOOPS

In [74]:
i = 1  #INITIALIZATION
while i <= 20:   #CONDITION/TEST EXPRESSION
    print(i)
    i += 1  #INCREMENT i BY 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [75]:
#PROGRAM TO DISPLAY NUMBERS BETWEEN 10 AND 20

k = 10
while k <= 20:
    print(k)
    k += 1

10
11
12
13
14
15
16
17
18
19
20

In [76]:
#PROGRAM TO DISPLAY EVEN NUMBERS BETWEEN 1 and 20
m = 1
while m <= 20:
    if m%2 == 0:
        print(m)
    m += 1

2
4
6
8
10
12
14
16
18
20

In [77]:
n = 10
while n <= 30:
    if n%3 == 0:
        print(n)
    n += 1

12
15
18
21
24
27
30

In [8]:
z = 1
while z <= 50:
 
    if z%3 == 0 & z%5 == 0:
        print("FizzBuzz")
    elif z%3 == 0:
        print("Fizz")
    elif z%5 == 0:
        print("Buzz")
    else:
        print(z)
    z+=1

1
2
FizzBuzz
4
Buzz
FizzBuzz
7
8
FizzBuzz
Buzz
11
FizzBuzz
13
14
FizzBuzz
16
17
FizzBuzz
19
Buzz
FizzBuzz
22
23
FizzBuzz
Buzz
26
FizzBuzz
28
29
FizzBuzz
31
32
FizzBuzz
34
Buzz
FizzBuzz
37
38
FizzBuzz
Buzz
41
FizzBuzz
43
44
FizzBuzz
46
47
FizzBuzz
49
Buzz

In [9]:
#PROGRAM TO DISPLAY FACTORS OF 30
k = 1
while k <= 30:
    if 30 % k == 0:
        print(k)
    k += 1

1
2
3
5
6
10
15
30

In [10]:
#PROGRAM TO SUM A RANGE OF NUMBERS
num1 = 10
num2 = 20
sum = 0

while num1 <= num2:
    sum += num1
    num1 += 1

result = "The sum of numbers between 10 and 20 is {}"
print(result.format(sum))

The sum of numbers between 10 and 20 is 165

In [11]:
#PROGRAM TO SUM A RANGE OF NUMBERS
num1 = 5
num2 = 30
sum = 0

while num1 <= num2:
    sum += num1
    num1 += 1

result = "The sum of numbers between 5 and 30 is {}"
print(result.format(sum))

The sum of numbers between 5 and 30 is 455