#INTRODUCTION TO PYTHON PROGRAMMING

In [1]:
print("Welcome to our Python Programming Class")

Welcome to our Python Programming Class

In [6]:
print("Python is one of the World's Popular Programming Language")

Python is one of the World's Popular Programming Language

In [7]:
print('My name is James Babalola')

My name is James Babalola

In [8]:
print("I am from Ogun State")

I am from Ogun State

In [9]:
print("I belong to the Male gender")

I belong to the Male gender

In [10]:
print('I am tall')

I am tall

In [11]:
print(10)  #WE DON'T PUT NUMERIC VALUES IN QUOTATION MARKS

10

In [12]:
print("10") #THE OUTPUT HERE IS A STRING

10

In [14]:
print(type("10"))  #RETURNS THE DATATYPE OF "10"

<class 'str'>

In [15]:
print(type(10))

<class 'int'>

In [16]:
print(256.695)

256.695

In [17]:
print(type(256.695))

<class 'float'>

#MANIPULATING SINGLE QUOTE AND DOUBLE QUOTE

In [20]:
print("Biola said \"Good Morning\"")

Biola said "Good Morning"

In [21]:
print('funsho said "How are you?"')

funsho said "How are you?"

In [22]:
print('It\'s a new day')

It's a new day

In [23]:
print("She's a good girl")

She's a good girl

In [24]:
print('funsho said "How are you?"')

funsho said "How are you?"

In [25]:
print(14+28)  #PERFORMING MATHEMATICAL CALCULATION INSIDE THE PRINT STATEMENT

42

In [27]:
print(18     *     12)

216

In [28]:
print(20     /  5)

4.0

In [29]:
print(15  %  6)

3

#STRING VARIABLES

In [30]:
fname = "James"
print(fname)

James

In [31]:
lastname = "Babalola"

In [32]:
print(lastname)

Babalola

In [33]:
college = "Babcock University"

In [34]:
print(college)

Babcock University

# VARIABLE AND STRING CONCATENATION

In [35]:
print(fname + lastname)

JamesBabalola

In [36]:
print(fname + " " + lastname)

James Babalola

In [39]:
print("My name is " + fname)

My name is James

In [40]:
print('My name is ' + fname + ' ' + lastname)

My name is James Babalola

In [41]:
print('I am a product of ' + college)

I am a product of Babcock University

In [42]:
print("My name is " + fname + " " + lastname +". I am a product of " + college)

My name is James Babalola. I am a product of Babcock University

In [43]:
author, title = "Chinua Achebe", "Things Fall Apart" #CREATING/DECLARING MULTIPLE VARIABLES AT ONCE

In [44]:
print(author)

Chinua Achebe

In [45]:
print(title)

Things Fall Apart

In [46]:
print("The book " + title + " was written by " + author)

The book Things Fall Apart was written by Chinua Achebe

# NUMERIC VARIABLES - INTEGERS AND FLOATS

In [47]:
x = 20
y = 15
z = 42

In [48]:
print(x)

20

In [49]:
print(y)

15

In [50]:
print(z)

42

In [51]:
sum = (x + y + z)

In [52]:
print(sum)

77

In [54]:
result = "The sum of {}, {} and {} is {}"
print(result.format(x,y,z,sum))

The sum of 20, 15 and 42 is 77

In [55]:
qty, price, tax = 5, 150, 7.5

In [56]:
amount = (qty * price)

In [57]:
print(amount)

750

In [58]:
total = (((tax/100)*amount) + amount)

In [59]:
print(total)

806.25

In [60]:
result = "The price of {} pairs of shoes at ${} each is ${}. With {}% tax, total price becomes ${}"
print(result.format(qty, price, amount, tax, total))

The price of 5 pairs of shoes at $150 each is $750. With 7.5% tax, total price becomes $806.25

In [1]:
i = 1
x = 12

while i <= 12:
    print(3 * i)
    i+=1

3
6
9
12
15
18
21
24
27
30
33
36

In [2]:
o = 10
p = 20
sum = 0

while o <= p:
    sum += o
    o+=1

print(sum)

165