In [1]:
import requests

In [2]:
from bs4 import BeautifulSoup as bs

In [3]:
import csv

In [4]:
tcc = requests.get('http://diesel-refill.com.ng/iphone.html')

In [5]:
tccData = bs(tcc.content, 'html.parser')

In [6]:
header = ['Product Name', 'Price']

In [8]:
products = tccData.find_all('li', class_="product")

In [10]:
with open("TCCDataSet.csv", 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    
    for x in products:
        product_name = x.h3.text
        product_price = x.span.text
        d1 = [product_name, product_price]
        writer.writerow(d1)

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("TCCDataSet.csv")

In [13]:
df

        Product Name     Price
0  iPhone 13 Pro Max  N900,000
1  iPhone 11 Pro Max  N370,000
2      iPhone 11 Pro  N320,000
3      iPhone XS Max  N270,000
4          iPhone 13  N695,000
5          iPhone 7+  N125,000
6           iPhone 7   N85,000
7           iPhone X  N190,000